

.field-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    padding: 16px 20px;
    border-radius: 8px;
}

.field-container label{
    display: block;
    font-weight: 700;
    text-align: left;
    margin-bottom: 6px;
} 

.field-container input{
    min-width: 200px;
    padding-left: 0px;
    border: 0;
    font-size: 16px;
}

.input-wrapper{
    width: 80%;
    text-align: left;
}

.from-to-container{
    display: flex;
    justify-content: center;
}

.from-to-card{
    padding: 20px 12px;

}


.fare-type-container{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #545454;
}

.fare-type-btn{
    background-color: white;
    padding: 10px;
    width: 50%;
    border: 0;
    font-weight: 600;
}

.fare-type-btn.active{
    background-color:  var( --CTA-color);
    color: white;
}

.search-btn{
    padding: 16px 140px;
    border-radius: 6px;
    background-color: var(--CTA-color);
    color: white;
    font-size: 16px;
}