.footer-container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 16px 0;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 10px;
    color: gray;
    font-weight: 500;
    width: 78px;
}

.footer-btn.active {
    color: var(--text-color);
}

.footer-btn span {
    font-size: 12px;
    color: var(--text-color);
}